*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border: 1px solid #000;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 100px;
}

.square {
    height: 60px;
    width: 60px;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.playerA {
    color: red;
}

.playerB {
    color: royalblue;
}